.navbar {
  display: flex;
  flex-direction: row;
  background-color: #6b5b95;
  color: white;
  justify-content: space-between;
}
.navbar .right {
  display: flex;
  flex-direction: row;
}
.header-options {
  font-size: 25px;
}
a {
  text-decoration: none;
  color: white;
}
