* {
  font-family: "Courier New", Courier, monospace;
}
.logo {
  font-size: 35px;
}
.navbar {
  display: flex;
  flex-direction: row;
  background-color: #6b5b95;
  color: white;
  justify-content: space-between;
}
.navbar .right {
  display: flex;
  flex-direction: row;
}
.header-options {
  font-size: 22px;
}
a {
  text-decoration: none;
  color: white;
}
.logout {
  border: 2px solid white;
  color: white;
}
