<div *ngIf="board.gameover === false && !board.iswin">
  <div class="container">
    <div
      class="header display-6 mx-auto my-5 text-center w-50 d-flex flex-row justify-content-between"
    >
      <div class="title">
        {{ mode | uppercase }}
      </div>
      <div class="time">{{ time }}</div>
      <div class="time">{{ board.foundcount * value }}</div>
    </div>
    <div class="game-box d-flex flex-row justify-content-center my-5">
      <div class="game-box d-flex flex-column">
        <tr *ngFor="let data of board.board; let i = index">
          <div class="game-rows d-flex flex-row">
            <td *ngFor="let cell of data; let j = index">
              <div *ngIf="cell == '-'">
                <div
                  class="cell"
                  (contextmenu)="onRightClick($event, i, j)"
                  (click)="board.makemove(i, j, id, value)"
                  [ngClass]="{
                    active: board.stateboard[i][j] === 'H',
                    easygridspaces: mode == 'easy',
                    mediumgridspaces: mode == 'medium',
                    hardgridspaces: mode == 'hard',
                    flag: board.stateboard[i][j] === 'F'
                  }"
                ></div>
              </div>
              <div *ngIf="cell != '-'">
                <div
                  class="cell"
                  (click)="board.makemove(i, j, id, value)"
                  [ngClass]="{
                    opened: board.stateboard[i][j] === 'O',
                    easygridspaces: mode == 'easy',
                    mediumgridspaces: mode == 'medium',
                    hardgridspaces: mode == 'hard'
                  }"
                >
                  {{ cell != 0 ? cell : "" }}
                </div>
              </div>
            </td>
          </div>
        </tr>
      </div>
    </div>
  </div>
  <button (click)="test()">test</button>
</div>

<div *ngIf="board.gameover == true && !board.iswin">
  <div class="game-over-container text-center my-5">
    <div class="score mt-5 p-3 display-1 text-danger">GAME OVER</div>
    <div class="score p-3 mb-5 display-6">Your Score is {{ board.score }}</div>

    <div class="back">
      <button class="btn btn-outline-danger">
        <a
          [routerLink]="['/']"
          routerLinkActive="active"
          class="text-decoration-none"
          >Back to Home</a
        >
      </button>
    </div>
  </div>
</div>
<div *ngIf="board.gameover == true && board.iswin">
  <div class="game-over-container text-center my-5">
    <div class="score mt-5 p-3 display-1 text-success">YOU WIN</div>
    <div class="score p-3 mb-2 display-6">Your Time is {{ time }}</div>
    <div class="score p-3 mb-5 display-6">Your Score is {{ board.score }}</div>
    <div class="back">
      <button class="btn btn-outline-success">
        <a
          [routerLink]="['/']"
          routerLinkActive="active"
          class="text-decoration-none"
          >Back to Home</a
        >
      </button>
    </div>
  </div>
</div>
