<div class="card mx-auto my-5">
  <div class="header display text-center text-light p-3">
    {{ difficulty | uppercase }}
  </div>
  <div class="elem mx-5 mt-3 p-3">
    <div class="dificulty">Difficulty :</div>
    <div class="value">{{ difficulty }}</div>
  </div>
  <div class="elem mx-5 mt-1 p-3">
    <div class="dificulty">Board Size :</div>
    <div class="value">{{ size }} X {{ size }}</div>
  </div>
  <div class="elem mx-5 mt-1 p-3">
    <div class="dificulty">Mines :</div>
    <div class="value">{{ minecount }}</div>
  </div>

  <div class="elem my-3 mx-auto p-3">
    <button class="p-3 btn btn-outline-success px-5" (click)="play(difficulty)">
      Play
    </button>
  </div>
</div>
